@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-image: url("https://i.pinimg.com/originals/4e/cc/57/4ecc5727c94b40b7136b13c9c3169b1f.gif");
  background-repeat: repeat;
  font-size: 20px;
  line-height: 45px;
  font-family: Montserrat, serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(117, 114, 111, 0.712);
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: #f00660;
  display: block;
  padding: 5px;
}

.navbar a:hover {
  background: rgba(236, 58, 58, 0.404);
}

.welcome-section {
  color: blanchedalmond;
  margin: 55px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.836);
}

.welcome-section img {
  border-radius: 10px;
  width: 50%;
  margin-top: 40px;
}

.welcome-section h1 {
  padding: 10px;
  font-size: 70px;
}

.welcome-section p {
  color: brown;
  font-size: 30px;
}

.projects {
  color: blanchedalmond;
  margin: 55px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.836);
  padding: 10px 0px 40px 0px;
}

.projects p {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: blanchedalmond;
  font-size: 50px;
  margin: 70px auto 20px auto;
}

.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 10px;
}

.project-tile img {
  border-radius: 10px;
  min-width: 30%;
  display: block;
}

.project-tile a {
  color: blanchedalmond;
  display: block;
}

.project-tile a .code {
  color: rgba(0, 0, 0, 0.836);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.project-tile a:hover .code {
  color: #db0421;
  font-size: 20px;
}

#link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

#profile-link {
  color: #e4280f;
}

.btn {
  padding: 0 15px;
  background: #2f301b;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.btn:hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.footer {
  width: 100%;
  background: rgba(117, 114, 111, 0.712);
  text-align: center;
  font-size: 30px;
  color: #030c0c;
}

.footer h2 {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts ul li {
  display: block;
  margin: 40px auto;
  font-size: 20px;
}

.contacts ul li a {
  color: #000;
  text-shadow: 2px 2px 1px #f3ebeb;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.contacts ul li a :hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

@media screen and (max-width: 650px) {
  #welcome-section {
    width: 100%;
  }
  #welcome-section h1 {
    padding: 10px;
    font-size: 40px;
  }
  #welcome-section p {
    color: brown;
    font-size: 20px;
  }
  #projects {
    width: 100%;
  }
  #projects p {
    font-size: 30px;
  }
}

@media screen and (max-width: 940px) {
  #projects {
    width: 100%;
  }
  #projects p {
    font-size: 30px;
  }
  #welcome-section {
    width: 100%;
  }
  #welcome-section h1 {
    padding: 10px;
    font-size: 40px;
  }
  #welcome-section p {
    color: brown;
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  #projects {
    width: 100%;
  }
  #projects p {
    font-size: 20px;
  }
  #welcome-section {
    width: 100%;
  }
  #welcome-section h1 {
    padding: 10px;
    font-size: 40px;
  }
  #welcome-section p {
    color: brown;
    font-size: 20px;
  }
  .footer {
    font-size: 20px;
  }
  .footer h2 {
    font-size: 30px;
  }
  .hidetext {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .hidetext {
    display: none;
  }
}

#leetcode:before {
  content: '';
  display: block;
  background: url(img/leetcodeicon.png) no-repeat;
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */